.certs/
node_modules
#*.iml
.idea/
.ipr
.iws
.lib
*~
~*
*.diff
*.map
lib
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swo
*.pyc
*.pyo
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# /lib
# .vscode
